header{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
    margin: 1rem;
}

.cabecalho{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {   
    /*height: 50%;
    width: fit-content;*/
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a{
    display: flex;
    align-items: center;
}

.logo a img {
    width: 220px;
    height: 110px;
}

/*.logosite{
    width: 50%;
    height: 50%;
}*/

.mobile{
    display: none;
}

nav.desktop ul{
    /*float: right;*/
    position: relative;
    list-style: none;
    margin-left: 5rem;
}

nav.desktop li{
    font-size: 15px;
    padding: 0 20px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    color: #22C3E6;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}

ul li a:hover {
    border-bottom: 2px solid black;
    transition: 0.3s;
 }