@media screen and (max-width: 1000px){
    .tecnico, .superior, .mestrado{
        border: 1px solid black;
        border-radius: 5rem;
    }
}

@media screen and (max-width: 700px){ 
    .tecnico, .superior, .mestrado, p{
        -webkit-margin-before: 1rem;
        -webkit-margin-after: 1rem;
        text-align: center;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px){ 
    .formacao{
        margin: 2rem;
    }
}